body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}
.player {
    width: 300px;
    background: #202020;
    border-radius: 10px;
    overflow: hidden;
}
#cover {
    width: 100%;
}
.controls {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#play-pause {
    width: 30px;
    height: 30px;
    background: #1DB954;
    border-radius: 50%;
}
#progress-container {
    flex-grow: 1;
    height: 5px;
    background: #404040;
    margin-left: 10px;
    margin-right: 10px;
}
#progress {
    height: 100%;
    width: 0%;
    background: #1DB954;
}
