body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#music-player {
    text-align: center;
    padding: 20px;
    background-color: #111d35;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

#music-player:hover {
    background-color: #152b47;
}

#song-title {
    font-size: 24px;
    color: #58a6ff;
}

audio {
    width: 100%;
    background-color: #111d35;
    border: none;
    border-radius: 5px;
    outline: none;
}

.album-art {
    width: 200px;
    height: 200px;
    border: 2px solid #58a6ff;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Customize the appearance of the audio controls */
audio::-webkit-media-controls-panel {
    background-color: #111d35;
}
